body, h1, p {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

header, main, footer {
    background: rgb(230 218 228 / 37%);
    padding: 0px 30px 0px 30px;
}

h1, h2 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

.contacts__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 20px;
}

.photo__wrapper {
    box-sizing: border-box;   
}

.contacts {
    width: 500px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    font-size: 20px;
    }

span:first-child {
    margin-top: 40px;
}

span:not(:first-child) {
    margin-top: 25px;
}

a {
    text-decoration: none;
    color: white;
}

ul>li {
    color: white;
    list-style-type: none;
}

img {
    height: 200px;
    border: solid white 3px;
    z-index: 24;
    box-shadow: 0 0 25px;
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    height: 60px;
    background: black;
}

.footer {
    color: white;
}